In [14]:
!ls

Pandas.ipynb        googleplaystore.csv

#### Importing Pandas Library

In [15]:
import pandas as pd

#### Importing CSV File

In [16]:
df = pd.read_csv('googleplaystore.csv')

In [22]:
n = 10
df.head(n) #N is number of rows to be printed from starting

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up
5,Paper flowers instructions,ART_AND_DESIGN,4.4,167,5.6M,"50,000+",Free,0,Everyone,Art & Design,"March 26, 2017",1.0,2.3 and up
6,Smoke Effect Photo Maker - Smoke Editor,ART_AND_DESIGN,3.8,178,19M,"50,000+",Free,0,Everyone,Art & Design,"April 26, 2018",1.1,4.0.3 and up
7,Infinite Painter,ART_AND_DESIGN,4.1,36815,29M,"1,000,000+",Free,0,Everyone,Art & Design,"June 14, 2018",6.1.61.1,4.2 and up
8,Garden Coloring Book,ART_AND_DESIGN,4.4,13791,33M,"1,000,000+",Free,0,Everyone,Art & Design,"September 20, 2017",2.9.2,3.0 and up
9,Kids Paint Free - Drawing Fun,ART_AND_DESIGN,4.7,121,3.1M,"10,000+",Free,0,Everyone,Art & Design;Creativity,"July 3, 2018",2.8,4.0.3 and up

In [23]:
df.tail(n) #Head: Top rows and Tail:bottom last rows

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
10831,payermonstationnement.fr,MAPS_AND_NAVIGATION,NaN,38,9.8M,"5,000+",Free,0,Everyone,Maps & Navigation,"June 13, 2018",2.0.148.0,4.0 and up
10832,FR Tides,WEATHER,3.8,1195,582k,"100,000+",Free,0,Everyone,Weather,"February 16, 2014",6.0,2.1 and up
10833,Chemin (fr),BOOKS_AND_REFERENCE,4.8,44,619k,"1,000+",Free,0,Everyone,Books & Reference,"March 23, 2014",0.8,2.2 and up
10834,FR Calculator,FAMILY,4.0,7,2.6M,500+,Free,0,Everyone,Education,"June 18, 2017",1.0.0,4.1 and up
10835,FR Forms,BUSINESS,NaN,0,9.6M,10+,Free,0,Everyone,Business,"September 29, 2016",1.1.5,4.0 and up
10836,Sya9a Maroc - FR,FAMILY,4.5,38,53M,"5,000+",Free,0,Everyone,Education,"July 25, 2017",1.48,4.1 and up
10837,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.6M,100+,Free,0,Everyone,Education,"July 6, 2018",1.0,4.1 and up
10838,Parkinson Exercices FR,MEDICAL,NaN,3,9.5M,"1,000+",Free,0,Everyone,Medical,"January 20, 2017",1.0,2.2 and up
10839,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,Varies with device,"1,000+",Free,0,Mature 17+,Books & Reference,"January 19, 2015",Varies with device,Varies with device
10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device

In [24]:
df.columns # Returns all the columns

Index(['App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Content Rating', 'Genres', 'Last Updated', 'Current Ver',
       'Android Ver'],
      dtype='object')

In [27]:
df['App']

0           Photo Editor & Candy Camera & Grid & ScrapBook
1                                      Coloring book moana
2        U Launcher Lite – FREE Live Cool Themes, Hide ...
3                                    Sketch - Draw & Paint
4                    Pixel Draw - Number Art Coloring Book
                               ...
10836                                     Sya9a Maroc - FR
10837                     Fr. Mike Schmitz Audio Teachings
10838                               Parkinson Exercices FR
10839                        The SCP Foundation DB fr nn5n
10840        iHoroscope - 2018 Daily Horoscope & Astrology
Name: App, Length: 10841, dtype: object

# Removing Null Values

#### Check null values

In [30]:
df.isnull() # Returns False if no value is null
            # Returns True if any value is null

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10836,False,False,False,False,False,False,False,False,False,False,False,False,False
10837,False,False,False,False,False,False,False,False,False,False,False,False,False
10838,False,False,True,False,False,False,False,False,False,False,False,False,False
10839,False,False,False,False,False,False,False,False,False,False,False,False,False
10840,False,False,False,False,False,False,False,False,False,False,False,False,False

In [37]:
df.isnull().sum() # Display the count of null values in each column

0        False
1        False
2        False
3        False
4        False
         ...
10834    False
10836    False
10837    False
10839    False
10840    False
Name: Rating, Length: 9360, dtype: bool

#### Dropping the rows having the null values

In [33]:
df = df.dropna()

In [35]:
df.isnull().sum()

App               0
Category          0
Rating            0
Reviews           0
Size              0
Installs          0
Type              0
Price             0
Content Rating    0
Genres            0
Last Updated      0
Current Ver       0
Android Ver       0
dtype: int64

# Data Analysis - Numeric

### Q1. Finding Average Rating

In [39]:
df['Rating']

0        4.1
1        3.9
2        4.7
3        4.5
4        4.3
        ...
10834    4.0
10836    4.5
10837    5.0
10839    4.5
10840    4.5
Name: Rating, Length: 9360, dtype: float64

In [45]:
float(str(sum(df['Rating'])/len(df['Rating']))[:4])

4.19

In [46]:
print("Average Rating of these apps :", float(str(sum(df['Rating'])/len(df['Rating']))[:4]))

Average Rating of these apps : 4.19

### Q2. How many apps are there with rating 5 ?

In [51]:
count = 0

for i in df['Rating']:
    if i == 5.0:
        count += 1

print("There are",count,"applications with rating 5.0.")

There are 274 applications with rating 5.0.

### Q3. How many applications ahave rating between 4.0 and 4.5 ?

In [54]:
count = 0

for i in df['Rating']:
    if i >= 4.0 and i <= 4.5:
        count +=1
        
print("There are",count,"applications with rating between 4.0 and 4.5.")

There are 5446 applications with rating between 4.0 and 4.5.

### Q4. Average App Reviews

In [57]:
sum = 0

for i in df['Reviews']:
    sum += int(i)
    
print("The Average app Review is", int(sum/len(df['Reviews'])))

The Average app Review is 514376

### Q5. Which app has maximum number of reviews ?

In [66]:
max_review = 0

for i in df['Reviews']:
    if int(i) > max_review:
        max_review = int(i)

print("The maximum number of review is", max_review)

The maximum number of review is 78158306

In [70]:
temp = df[df['Reviews']==str(max_review)]

In [92]:
print(str(temp['App']).split("\n")[0].split(" ")[-1:][0], "application has maxmium number of reviews")

Facebook application has maxmium number of reviews

# Data Analysis - Categorical Columns

### Q1. How many categories are there ?

In [96]:
df['Category'].unique()

array(['ART_AND_DESIGN', 'AUTO_AND_VEHICLES', 'BEAUTY',
       'BOOKS_AND_REFERENCE', 'BUSINESS', 'COMICS', 'COMMUNICATION',
       'DATING', 'EDUCATION', 'ENTERTAINMENT', 'EVENTS', 'FINANCE',
       'FOOD_AND_DRINK', 'HEALTH_AND_FITNESS', 'HOUSE_AND_HOME',
       'LIBRARIES_AND_DEMO', 'LIFESTYLE', 'GAME', 'FAMILY', 'MEDICAL',
       'SOCIAL', 'SHOPPING', 'PHOTOGRAPHY', 'SPORTS', 'TRAVEL_AND_LOCAL',
       'TOOLS', 'PERSONALIZATION', 'PRODUCTIVITY', 'PARENTING', 'WEATHER',
       'VIDEO_PLAYERS', 'NEWS_AND_MAGAZINES', 'MAPS_AND_NAVIGATION'],
      dtype=object)

In [97]:
print("There are total", len(df['Category'].unique()),"categories are there.")

There are total 33 categories are there.

### Q2. How many apps are under Art and Design category ?

In [101]:
print(len(df[df['Category'] == 'ART_AND_DESIGN'])) # Shortcut

61

In [ ]:
df[df['Category'] == 'ART_AND_DESIGN']['App']

In [103]:
count = 0

for i in df['Category']:
    if i == 'ART_AND_DESIGN':
        count+=1

        
print('There are total',count,'apps in art and design category')

There are total 61 apps in art and design category

### Q3. How many types of apps are there? How many of them are free?

In [107]:
df['Type'].unique()

array(['Free', 'Paid'], dtype=object)

In [109]:
count = 0

for i in df['Type']:
    if i == 'Free':
        count+=1
       
print('There are',count,'free apps and', len(df['Type'])-count, 'paid apps')

There are 8715 free apps and 645 paid apps

### Q4. What percent of apps are free?

In [113]:
print(str((count/len(df['Type']))*100)[:5],'% of apps are free')

93.10 % of apps are free

### Q5. How many types of ratings are there?

In [114]:
df['Content Rating'].unique()

array(['Everyone', 'Teen', 'Everyone 10+', 'Mature 17+',
       'Adults only 18+', 'Unrated'], dtype=object)

### Q6. How many apps are unrated?

In [116]:
count = 0

for i in df['Content Rating']:
    if i == 'Unrated':
        count+=1
       
print(count,'App is unrated')

1 App is unrated

# Data Analysis - Automatic Categorical

### Q1. How many apps are there in each category?

In [120]:
categories = {}

for i in df['Category'].unique():
    
    count = 0
    
    for j in df['Category']:
        if j == i:
            count += 1
    categories[i] = count

In [121]:
categories

{'ART_AND_DESIGN': 61,
 'AUTO_AND_VEHICLES': 73,
 'BEAUTY': 42,
 'BOOKS_AND_REFERENCE': 178,
 'BUSINESS': 303,
 'COMICS': 58,
 'COMMUNICATION': 328,
 'DATING': 195,
 'EDUCATION': 155,
 'ENTERTAINMENT': 149,
 'EVENTS': 45,
 'FINANCE': 323,
 'FOOD_AND_DRINK': 109,
 'HEALTH_AND_FITNESS': 297,
 'HOUSE_AND_HOME': 76,
 'LIBRARIES_AND_DEMO': 64,
 'LIFESTYLE': 314,
 'GAME': 1097,
 'FAMILY': 1746,
 'MEDICAL': 350,
 'SOCIAL': 259,
 'SHOPPING': 238,
 'PHOTOGRAPHY': 317,
 'SPORTS': 319,
 'TRAVEL_AND_LOCAL': 226,
 'TOOLS': 733,
 'PERSONALIZATION': 312,
 'PRODUCTIVITY': 351,
 'PARENTING': 50,
 'WEATHER': 75,
 'VIDEO_PLAYERS': 160,
 'NEWS_AND_MAGAZINES': 233,
 'MAPS_AND_NAVIGATION': 124}

 ### Q2. How many apps are there in each Types?

In [123]:
types = {}

for i in df['Type'].unique():
    
    count = 0
    
    for j in df['Type']:
        if j == i:
            count += 1
    types[i] = count
    
print(types)

{'Free': 8715, 'Paid': 645}

### Q3. How many apps are there in each Content Ratings?

In [124]:
c_rating = {}

for i in df['Content Rating'].unique():
    
    count = 0
    
    for j in df['Content Rating']:
        if j == i:
            count += 1
    c_rating[i] = count
    
print(c_rating)

{'Everyone': 7414, 'Teen': 1084, 'Everyone 10+': 397, 'Mature 17+': 461, 'Adults only 18+': 3, 'Unrated': 1}

#### Descibe is used to list all important values of the columns

In [126]:
df['Rating'].describe()

count    9360.000000
mean        4.191838
std         0.515263
min         1.000000
25%         4.000000
50%         4.300000
75%         4.500000
max         5.000000
Name: Rating, dtype: float64

In [127]:
df['Type'].describe()

count     9360
unique       2
top       Free
freq      8715
Name: Type, dtype: object

In [129]:
df['Content Rating'].describe()

count         9360
unique           6
top       Everyone
freq          7414
Name: Content Rating, dtype: object

In [130]:
df.describe()

            Rating
count  9360.000000
mean      4.191838
std       0.515263
min       1.000000
25%       4.000000
50%       4.300000
75%       4.500000
max       5.000000